<footer class="bg-light text-center py-3 mt-auto">
    <div class="container">
        <small>
            © {{ "now"|date("Y") }} · Autor: Patryk ·
            <a href="#">Aviso legal</a> ·
            <a href="#">Privacidad</a>
        </small>
    </div>
</footer>