{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block contenido %}
    <div class="text-center">

        <h1 class="mb-3">Proyecto Gestion de Tienda</h1>

        <p class="lead mb-4">
            Aplicacion desarrollada con Symfony para la gestion de productos, clientes y ventas
            de una tienda de forma sencilla y eficiente.
        </p>

        <img src="{{ asset('imgs/mendy.jpeg') }}" alt="Exemple d’imatge">

    </div>
{% endblock %}
